/* css styles applicable to all components */

/* nav components */
.cart-badge {
    margin-left: 10px;
}

/* home components */
.home-div {
    height: 100vh;
    width: 90vw;
    padding-left: 10vw;
    padding-top: 30vh;
    text-align: center;
}

.home-element {
    margin-bottom: 5vh;
}

/* order components */
.order-div {
    margin-top: 20px;
}
.order-badge {
    margin-left: 10px; 
}
.green-background {
    background-color: #4daf58;
}
.white-background {
    background-color: white;
}

/* cart components */
.cart-div {
    margin-top: 20px;
    margin-left: 20px;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}
.total-price-div {
    text-align:center;
    padding-top: 20px;
}
.checkout-div {
    text-align: center;
    padding-top: 20px;
}
.pickup-btn {
    margin-right: 10px;
}
.delivery-btn {
    margin-left: 10px;
}
.empty-cart-message {
    margin-top: 50px;
    margin-left: 30px;
}

/* cart item components */
.item-card {
    width: 18rem;
}
.item-price {
    margin-left: 10px;
}
.item-image {
    height: 200px;
}
.topping-list-item {
    margin-left: 20px;
}
.item-plus-button {
    margin-left: 20px;
}
.item-minus-button {
    margin-left: 10px;
}

/* menu item components */
.add-to-cart-btn {
    margin-top: 20px;
}
.form-control {
    margin-bottom: 20px;
}
.quantity-label {
    margin-bottom: 10px;
}
.size-select {
    margin-bottom: 20px;
}
.success-message {
    margin-top: 20px;
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

/* login component */
.login-div {
    height: 100vh;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 20vh;
}
.login-break {
    margin-bottom: 15px;
}

/* checkout component */
.checkout-div {
    width: 50vw;
    margin-left: 25vw;
    margin-top: 50px;
}